monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@dev:
    monolog:
        handlers:
            main:
                type: rotating_file
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                level: debug
                buffer_size: 128
                max_files: 10
                formatter: App\Infrastructure\Logger\Formatter\JsonFormatter
            console:
                type: console
                level: debug
                process_psr_3_messages: false
                channels: ["!request", "!deprecation", "!doctrine"]
                formatter: App\Infrastructure\Logger\Formatter\JsonFormatter

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                formatter: App\Infrastructure\Logger\Formatter\JsonFormatter

when@prod:
    monolog:
        handlers:
            main:
                type: rotating_file
                level: info
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                handler: nested
                buffer_size: 128
                max_files: 10
                formatter: App\Infrastructure\Logger\Formatter\JsonFormatter
            nested:
                type: stream
                level: info
                path: php://stderr
                formatter: App\Infrastructure\Logger\Formatter\JsonFormatter
            console:
                type: console
                level: info
                process_psr_3_messages: false
                channels: ["!request", "!deprecation", "!doctrine"]
                formatter: App\Infrastructure\Logger\Formatter\JsonFormatter
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
