.idea/*
###> symfony/framework-bundle ###
/.env
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> phpca reports ###
/public/phpca/
###< phpca reports ###

###> docker ###
/docker-compose.override.yaml
/docker-compose.prod.yaml
###< docker ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
/.playwright-mcp/
